img {
	max-width: 100%;
}

body {
	font-family: 'Poppins', sans-serif;

}

/***** Sidebar *****/
.fa-align-left:before {
	content: url(./IMG/menu.svg);
}


.fa-arrow-left:before {
	content: url(./IMG/close.svg);
}

.sidebar {
	width: 250px;
	height: 100vh;
	position: fixed;
	top: 0;
	left: -255px;
	z-index: 999;
	background: #D9D9D9;
	color: #000;
	transition: all .3s;
	box-shadow: 3px 3px 3px rgba(51, 51, 51, 0.5);
	text-align: center;

}

.sidebar.active {
	left: 0;
}

.dismiss {
	width: 35px;
	height: 35px;
	position: absolute;
	top: 10px;
	right: 15px;
	transition: all .3s;
	background: #79BD94;
	border: solid 1px #79BD94;
	border-radius: 4px;
	text-align: center;
	line-height: 35px;
	cursor: pointer;
}

.dismiss:hover,
.dismiss:focus {
	background: #79BD94;
	color: #fff;
	border: solid 1px #79BD94;
}

.sidebar .logo {
	padding: 20px;
}

.sidebar .logo a {
	display: inline-block;
	width: 172px;
	height: 34px;
	background: url(./IMG/KittyCam.svg) left top no-repeat;
	border: 0;
	text-indent: -999999px;
}


.sidebar ul li a {
	display: block;
	padding: 10px;
	color: #000;
	font-size: 1.5rem;
	text-decoration: none;
	font-family: 'Poppins', sans-serif;
}

@media (max-width: 1000px) {
	.sidebar ul li a {
		padding: 7px;
		font-size: 1rem;
	}
}

.sidebar ul li a:hover,
.sidebar ul li a:focus,
.sidebar ul li.active>a:hover,
.sidebar ul li.active>a:focus {
	outline: 0;
	background: #79BD94;
	color: #fff;
}

.sidebar ul li a i {
	margin-right: 5px;
}

.sidebar ul li.active>a,
a[aria-expanded="true"] {
	background: #79BD94;
	color: #fff;
}

.sidebar ul ul a {
	background: #D9D9D9;
	padding-left: 30px;
	font-size: 14px;
}

.sidebar ul ul li.active>a {
	background: #555;
}

.sidebar a[data-toggle="collapse"] {
	position: relative;
}

.sidebar .dropdown-toggle::after {
	display: block;
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
}

.sidebar .to-top {
	padding: 20px;
	text-align: center;
}

.sidebar .dark-light-buttons {
	padding: 10px 20px 30px 20px;
	text-align: center;
}

.content {
	width: 100%;
	transition: all 0.3s;
}

.open-menu {
	position: fixed;
	top: 20px;
	left: 20px;
	z-index: 997;
	box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.2);
}

.open-menu.btn-customized,
.open-menu.btn-customized:hover,
.open-menu.btn-customized:active,
.open-menu.btn-customized:focus,
.open-menu.btn-customized:active:focus,
.open-menu.btn-customized.active:focus,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
.open-menu.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	box-shadow: 3px 3px 10px rgba(51, 51, 51, 0.2);
}


/***** Buttons *****/

a.btn-customized {
	margin-left: 50px;
	margin-right: 5px;
	padding: .75rem 1.5rem;
	background: linear-gradient(180deg, #EAF6DD 0%, #A5D090 100%);
	border: 0;
	border-radius: 10px;
	font-size: 15px;
	font-weight: 600;
	color: #000;
	box-shadow: none;
	font-family: 'Poppins', sans-serif;
	width: 100px;

}

@media (max-width: 1400px) {
	a.btn-customized {
		width: 90px;
	}
}

@media (max-width: 1200px) {
	a.btn-customized {
		width: 80px;
	}
}

@media (max-width: 1000px) {
	a.btn-customized {
		width: 70px;
	}
}

@media (max-width: 900px) {
	a.btn-customized {
		width: 70px;
		height: 50px;
	}
}

@media (max-width: 700px) {
	a.btn-customized {
		width: 65px;
		height: 45px;
	}
}

@media (max-width: 550px) {
	a.btn-customized {
		width: 60px;
		height: 40px;
		margin: auto;
	}
}



a.btn-customized:hover,
a.btn-customized:active,
a.btn-customized:focus,
a.btn-customized:active:focus,
a.btn-customized.active:focus,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #C4C5C0;
	border: solid 4px #A5D090;
	color: #000;
	box-shadow: none;
}

a.btn-customized-2 {
	margin-left: 5px;
	margin-right: 5px;
	padding: .75rem 1.5rem;
	background: #fff;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	color: #555;
	box-shadow: none;
}

a.btn-customized-2:hover,
a.btn-customized-2:active,
a.btn-customized-2:focus,
a.btn-customized-2:active:focus,
a.btn-customized-2.active:focus,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-2.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #ccc;
	background: rgba(255, 255, 255, 0.5);
	border: 0;
	color: #555;
	box-shadow: none;
}

a.btn-customized-3 {
	display: inline-block;
	width: 100%;
	margin: 0;
	padding: .75rem 1.5rem;
	background: #444;
	border: 0;
	border-radius: 4px;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
}

a.btn-customized-3:hover,
a.btn-customized-3:active,
a.btn-customized-3:focus,
a.btn-customized-3:active:focus,
a.btn-customized-3.active:focus,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-3.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}

a.btn-customized i,
a.btn-customized-2 i,
a.btn-customized-3 i {
	margin-right: 5px;
}


a.btn-customized-4 {
	display: inline-block;
	width: 28px;
	height: 28px;
	margin: 0 3px;
	padding: 0;
	background: #444;
	border: 0;
	border-radius: 50%;
	font-size: 16px;
	font-weight: 300;
	color: #fff;
	box-shadow: none;
	text-indent: -999999px;
}

a.btn-customized-4.btn-customized-dark:hover,
a.btn-customized-4.btn-customized-dark:active,
a.btn-customized-4.btn-customized-dark:focus,
a.btn-customized-4.btn-customized-dark:active:focus,
a.btn-customized-4.btn-customized-dark.active:focus,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-dark.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}

a.btn-customized-4.btn-customized-light:hover,
a.btn-customized-4.btn-customized-light:active,
a.btn-customized-4.btn-customized-light:focus,
a.btn-customized-4.btn-customized-light:active:focus,
a.btn-customized-4.btn-customized-light.active:focus,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active,
a.btn-customized-4.btn-customized-light.btn.btn-primary:not(:disabled):not(.disabled):active:focus {
	outline: 0;
	background: #555;
	border: 0;
	color: #fff;
	box-shadow: none;
}


.carousel-indicators1 {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 2;
	display: flex;
	justify-content: center;
	padding: 0;
	margin-right: 15%;
	margin-bottom: 1rem;
	margin-left: 15%;
	list-style: none;
}

.carousel-indicators1 [data-bs-target] {
	box-sizing: content-box;
	flex: 0 1 auto;
	width: 15px;
	height: 15px;
	border-radius: 100%;
	padding: 0;
	margin-right: 3px;
	margin-left: 3px;
	text-indent: -999px;
	cursor: pointer;
	background-color: #fff;
	background-clip: padding-box;
	border: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	opacity: 0.5;
	transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
	.carousel-indicators1 [data-bs-target] {
		transition: none;
	}
}

.carousel-indicators1 .active {
	opacity: 1;
}


.carousel-inner1 {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.carousel-inner1::after {
	display: block;
	clear: both;
	content: "";
}

.decora {
	content: "";
	width: 30px;
	height: 50px;
	background: linear-gradient(180deg, #EAF6DD 0%, #A5D090 100%);
	border-radius: 15px;
}